<h1><%= @patient.name %></h1>
<% @patient.appointments.each_with_index do |appointment, index| %>
  <%= index %>. <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M")%><br>
  Doctor: <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
<% end %>