<h1><%= @doctor.name %></h1>
<% @doctor.appointments.each_with_index do |appointment, index| %>
  <%= index %>. <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M")%><br>
  Patient: <%= link_to appointment.patient.name, patient_path(appointment.patient) %>
<% end %>